// COLORS
$color-primary: #5545ea;
$color-primary-light: #8eceff;
$color-primary-dark: #5678ee;

$color-secondary-light: #ff8980;
$color-secondary-dark: #ff5750;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;
$color-grey-dark-4: #111;

$color-white: #fff;
$color-black: #0b0b0b;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;