.header {
    height: 70vh;
    background-image: linear-gradient(
        to bottom,
        rgba($color-primary-light, 0.4) -50%,
        rgba($color-grey-dark-4, 1)),
    url(../img/hero1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-box {
        margin: auto;
        padding: 5rem 6rem;
    }

    &__logo {
        max-width: 80vw;
        max-height: 28rem;
        opacity: 0.8;
    }
    
    &__text-box {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}