.main {
    margin: 0 auto;
    // max-width: 114rem;
    background-color: $color-grey-dark-4;
}

.section {
    padding: 10rem 0;
}

.section-tour {
    background-image: linear-gradient(
        to bottom,
        rgba($color-secondary-light, 0.1),
        rgba($color-grey-dark-4, 0.8)),
        url(../img/hero2.jpg);
    background-size: cover;
    background-position: center 25%;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-contact {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.1),
        rgba($color-grey-dark-4, 0.8)),
        url(../img/hero3.jpg);
    background-size: cover;
    background-position: center 10%;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}